USE [master]
GO
/****** Object:  Database [yagi_pharmacy]    Script Date: 9/22/2024 11:27:05 PM ******/
CREATE DATABASE [yagi_pharmacy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yagi_pharmacy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\yagi_pharmacy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'yagi_pharmacy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\yagi_pharmacy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yagi_pharmacy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yagi_pharmacy]
GO
/****** Object:  Table [dbo].[news]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[news_category_id] [int] NULL,
	[creator_id] [int] NULL,
	[news_title] [nvarchar](200) NULL,
	[news_content] [nvarchar](max) NULL,
	[news_image] [varchar](max) NULL,
	[news_hashtag] [varchar](300) NULL,
	[updated_id] [int] NULL,
	[created_date] [varchar](500) NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news_category]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news_category](
	[news_category_id] [int] IDENTITY(1,1) NOT NULL,
	[news_category_parent_id] [int] NULL,
	[news_category_level] [int] NULL,
	[news_category_name] [nvarchar](200) NULL,
	[news_category_detail] [nvarchar](500) NULL,
	[is_delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[news_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price](
	[price_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[amount_money] [float] NOT NULL,
	[unit_code] [varchar](50) NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](500) NULL,
	[product_category_id] [int] NULL,
	[product_country_code] [varchar](50) NULL,
	[supplier_id] [int] NULL,
	[product_target] [nvarchar](500) NULL,
	[product_name] [nvarchar](300) NULL,
	[dosage_form] [nvarchar](50) NULL,
	[product_specification] [nvarchar](50) NULL,
	[product_excipient] [nvarchar](1000) NULL,
	[product_desciption] [nvarchar](4000) NULL,
	[created_date] [bit] NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[product_category_id] [int] IDENTITY(1,1) NOT NULL,
	[product_category_parent_id] [int] NULL,
	[product_category_level] [int] NULL,
	[product_category_code] [varchar](50) NOT NULL,
	[product_category_name] [varchar](200) NULL,
	[product_category_detail] [nvarchar](500) NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_image](
	[produc_image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_base64] [varchar](max) NULL,
	[is_main] [bit] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[produc_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[staff_major] [varchar](500) NULL,
	[staff_education] [nvarchar](4000) NULL,
	[staff_experience] [nvarchar](4000) NULL,
	[staff_description] [nvarchar](4000) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_code] [nvarchar](200) NULL,
	[supplier_name] [nvarchar](200) NULL,
	[supplier_country_code] [varchar](50) NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 9/22/2024 11:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[user_phone] [varchar](50) NOT NULL,
	[user_email] [varchar](50) NULL,
	[user_password] [varchar](50) NOT NULL,
	[role_level] [int] NULL,
	[user_avatar] [varchar](max) NULL,
	[user_bank] [varchar](30) NULL,
	[user_bank_code] [varchar](100) NULL,
	[user_province] [nvarchar](100) NULL,
	[user_district] [nvarchar](100) NULL,
	[user_commune] [nvarchar](100) NULL,
	[specific_address] [nvarchar](400) NULL,
	[date_of_birth] [varchar](500) NULL,
	[created_date] [varchar](500) NOT NULL,
	[active_code] [varchar](10) NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[news] ON 

SET IDENTITY_INSERT [dbo].[news] OFF
GO
SET IDENTITY_INSERT [dbo].[news_category] ON 

INSERT [dbo].[news_category] ([news_category_id], [news_category_parent_id], [news_category_level], [news_category_name], [news_category_detail], [is_delete]) VALUES (1, NULL, 1, N'World News', N'Latest updates on international affairs and world events.', 0)
INSERT [dbo].[news_category] ([news_category_id], [news_category_parent_id], [news_category_level], [news_category_name], [news_category_detail], [is_delete]) VALUES (2, 1, 2, N'Politics', N'News and analysis on political events and decisions.', 0)
INSERT [dbo].[news_category] ([news_category_id], [news_category_parent_id], [news_category_level], [news_category_name], [news_category_detail], [is_delete]) VALUES (3, 1, 2, N'Economy', N'Global economy and market news.', 0)
SET IDENTITY_INSERT [dbo].[news_category] OFF
GO
SET IDENTITY_INSERT [dbo].[product_category] ON 

INSERT [dbo].[product_category] ([product_category_id], [product_category_parent_id], [product_category_level], [product_category_code], [product_category_name], [product_category_detail], [is_deleted]) VALUES (1, NULL, 1, N'CAT-ELECT', N'Electronics', N'All types of electronic devices', 1)
INSERT [dbo].[product_category] ([product_category_id], [product_category_parent_id], [product_category_level], [product_category_code], [product_category_name], [product_category_detail], [is_deleted]) VALUES (2, 1, 2, N'CAT-SMRTPH', N'Smartphones', N'Latest smartphones and accessories', 0)
INSERT [dbo].[product_category] ([product_category_id], [product_category_parent_id], [product_category_level], [product_category_code], [product_category_name], [product_category_detail], [is_deleted]) VALUES (3, 1, 2, N'CAT-LAPTOP', N'Laptops', N'Personal and business laptops', 0)
SET IDENTITY_INSERT [dbo].[product_category] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [user_name], [user_phone], [user_email], [user_password], [role_level], [user_avatar], [user_bank], [user_bank_code], [user_province], [user_district], [user_commune], [specific_address], [date_of_birth], [created_date], [active_code], [is_active], [is_deleted]) VALUES (1, N'John Doe2222', N'1234567892', N'john.do2e@example.com', N'password123', 1, N'', N'Bank A', N'123456789', NULL, NULL, NULL, N'123 Main St', N'1990-01-01', N'2024-09-22', N'', 1, 0)
INSERT [dbo].[user] ([user_id], [user_name], [user_phone], [user_email], [user_password], [role_level], [user_avatar], [user_bank], [user_bank_code], [user_province], [user_district], [user_commune], [specific_address], [date_of_birth], [created_date], [active_code], [is_active], [is_deleted]) VALUES (2, N'Jane Smith', N'0987654321', N'jane.smith@example.com', N'password456', 2, N'avatar2.jpg', N'Bank B', N'987654321', N'Province B', N'District B', N'Commune B', N'456 Second St', N'1992-05-15', N'2024-09-22', N'ACT456', 0, 0)
INSERT [dbo].[user] ([user_id], [user_name], [user_phone], [user_email], [user_password], [role_level], [user_avatar], [user_bank], [user_bank_code], [user_province], [user_district], [user_commune], [specific_address], [date_of_birth], [created_date], [active_code], [is_active], [is_deleted]) VALUES (3, N'Robert Brown', N'1122334455', N'robert.brown@example.com', N'password789', 1, N'avatar3.jpg', N'Bank C', N'456123789', N'Province C', N'District C', N'Commune C', N'789 Third St', N'1985-08-20', N'2024-09-22', N'ACT789', 1, 0)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product__AE1A8CC4E1668EAE]    Script Date: 9/22/2024 11:27:05 PM ******/
ALTER TABLE [dbo].[product] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product___871BFA4F8C4A0239]    Script Date: 9/22/2024 11:27:05 PM ******/
ALTER TABLE [dbo].[product_category] ADD UNIQUE NONCLUSTERED 
(
	[product_category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__staff__B9BE370E4EC40C30]    Script Date: 9/22/2024 11:27:05 PM ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__6A5ACCABF855FF67]    Script Date: 9/22/2024 11:27:05 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[user_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__B0FBA212DD6909AC]    Script Date: 9/22/2024 11:27:05 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[news_category] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[price] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [created_date]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[product_category] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[product_image] ADD  DEFAULT ((1)) FOR [is_main]
GO
ALTER TABLE [dbo].[product_image] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD FOREIGN KEY([creator_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD FOREIGN KEY([news_category_id])
REFERENCES [dbo].[news_category] ([news_category_id])
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD FOREIGN KEY([updated_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[price]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([product_category_id])
REFERENCES [dbo].[product_category] ([product_category_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
USE [master]
GO
